<!DOCTYPE html>
<html>
  <head>
    <title>Visual Song Recommender</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/index.js"></script>
    <script src="../static/client.js"></script>
  </head>
  <body>
    <h1>Automatic Spotify Song Selection through Facial Emotion Recognition</h1>
    <p style="width: 80%; margin-left: 10vw">
      The relationship between sound and images have been explored since the
      advent of movies, and even earlier. The project work aims to create a
      software able to automatically select a song given an image through facial
      emotion recognition. A Neural Network is trained in order to perform
      facial emotion recognition on images. Given a previously unseen image and
      given the emotion label assigned by the network, the software will select
      a proper song through the Spotify API by mean of a mapping between
      emotions and song descriptions provided by Spotify streaming service.
    </p>
    <br />
    <div class="box">
      <p style="max-width: 500px;">
        Upload an image of your face (cropped as much as possible, removing
        background) with an expression to get a song recommendation
      </p>
      <input
        id="imageinput"
        type="file"
        name="image"
        onchange="readUrl(this)"
      />
      <br />
      <img id="imagebox" src="" width="500" />
      <label
        name="send"
        id="sendbutton"
        for="file"
        style="width: 100px; cursor: pointer; border: outset; margin-top: 10px"
      >
        Upload Image
      </label>
      <div id="fresh">
        <p id="s-msg" style="margin-bottom: 0"></p>
      </div>
      <br />
      <p>Here are your recommended songs:</p>
      <div id="url"></div>
    </div>
  </body>
</html>
