<!DOCTYPE html>
<html>
  <head>
    <title>Visual Song Recommender</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="../static/index.js"></script>
    <script src="../static/bundle.js"></script>
  </head>
  <body>
    <h1>
      Automatic Spotify Song Selection through Facial Emotion Recognition
    </h1>
    <p style="width: 80%; margin-left: 10vw">
      The relationship between sound and images have been explored since the
      advent of movies, and even earlier. The project work aims to create a
      software able to automatically select a song given an image through facial
      emotion recognition. A Neural Network is trained in order to perform
      facial emotion recognition on images. Given a previously unseen image and
      given the emotion label assigned by the network, the software will select
      a proper song through the Spotify API by mean of a mapping between
      emotions and song descriptions provided by Spotify streaming service.
    </p>
    <div class="box">
      <p>
        Get an access token
        <a
          href="https://developer.spotify.com/console/get-artist/"
          target="_blank"
          rel="noopener noreferrer"
          >here</a
        >
        by clicking on Get Token (select any scope you want).
      </p>
      <input
        type="text"
        id="token"
        name="token"
        placeholder="Enter spotify's access token here"
        style="width: 500px"
      />
      <br />
      <input
        id="imageinput"
        type="file"
        name="image"
        onchange="readUrl(this)"
      />
      <br />
      <img id="imagebox" src="" width="500" />
      <label
        name="send"
        id="sendbutton"
        for="file"
        style="width: 100px; cursor: pointer; border: outset; margin-top: 10px"
      >
        Upload Image
      </label>
      <div id="fresh">
        <p id="s-msg" style="margin-bottom: 0;"></p>
        <div style="display: flex">
          <p style="padding-right: 20px">Predicted emotion:</p>
          <p id="em-pred"></p>
        </div>
      </div>
      <div id="numSel">
        <p>
          Select how many songs you want to get:
          <input
            type="number"
            id="num"
            name="num"
            min="1"
            max="100"
            value="3"
            style="width: 45px; text-align: right"
          />
        </p>
      </div>
      <div>
        <p>Check the types of genres you prefer (up to 5):</p>
        <div class="emGen" id="AngryG">
          <input class="gnre" type="checkbox" id="black-metal" name="black-metal" />
          <label class="gnre" for="black-metal">black-metal</label>
          <input class="gnre" type="checkbox" id="death-metal" name="death-metal" />
          <label class="gnre" for="death-metal">death-metal</label>
          <input class="gnre" type="checkbox" id="deep-house" name="deep-house" />
          <label class="gnre" for="deep-house">deep-house</label>
          <input class="gnre" type="checkbox" id="dubstep" name="dubstep" />
          <label class="gnre" for="dubstep">dubstep</label>
          <input class="gnre" type="checkbox" id="edm" name="edm" />
          <label class="gnre" for="edm">edm</label>
          <input class="gnre" type="checkbox" id="electronic" name="electronic" />
          <label class="gnre" for="electronic">electronic</label>
          <br />
          <input class="gnre" type="checkbox" id="emo" name="emo" />
          <label class="gnre" for="emo">emo</label>
          <input class="gnre" type="checkbox" id="garage" name="garage" />
          <label class="gnre" for="garage">garage</label>
          <input class="gnre" type="checkbox" id="goth" name="goth" />
          <label class="gnre" for="goth">goth</label>
          <input class="gnre" type="checkbox" id="hard-rock" name="hard-rock" />
          <label class="gnre" for="hard-rock">hard-rock</label>
          <input class="gnre" type="checkbox" id="hard-core" name="hard-core" />
          <label class="gnre" for="hard-core">hard-core</label>
          <input class="gnre" type="checkbox" id="heavy-metal" name="heavy-metal" />
          <label class="gnre" for="heavy-metal">heavy-metal</label>
          <br />
          <input class="gnre" type="checkbox" id="metal" name="metal" />
          <label class="gnre" for="metal">metal</label>
          <input class="gnre" type="checkbox" id="pop" name="pop" />
          <label class="gnre" for="pop">pop</label>
          <input class="gnre" type="checkbox" id="psych-rock" name="psych-rock" />
          <label class="gnre" for="psych-rock">psych-rock</label>
          <input class="gnre" type="checkbox" id="punk" name="punk" />
          <label class="gnre" for="punk">punk</label>
          <input class="gnre" type="checkbox" id="punk-rock" name="punk-rock" />
          <label class="gnre" for="punk-rock">punk-rock</label>
          <input class="gnre" type="checkbox" id="rock" name="rock" />
          <label class="gnre" for="rock">rock</label>
        </div>
        <div class="emGen" id="DisgustG">
          <input class="gnre" type="checkbox" id="dance" name="dance" />
          <label class="gnre" for="dance">dance</label>
          <input class="gnre" type="checkbox" id="electronic" name="electronic" />
          <label class="gnre" for="electronic">electronic</label>
          <input class="gnre" type="checkbox" id="pop" name="pop" />
          <label class="gnre" for="pop">pop</label>
          <input class="gnre" type="checkbox" id="r-n-b" name="r-n-b" />
          <label class="gnre" for="r-n-b">r-n-b</label>
          <input class="gnre" type="checkbox" id="rock" name="rock" />
          <label class="gnre" for="rock">rock</label>
          <input class="gnre" type="checkbox" id="soul" name="soul" />
          <label class="gnre" for="soul">soul</label>
        </div>
        <div class="emGen" id="FearG">
          <input class="gnre" type="checkbox" id="alternative" name="alternative" />
          <label class="gnre" for="alternative">alternative</label>
          <input class="gnre" type="checkbox" id="black-metal" name="black-metal" />
          <label class="gnre" for="black-metal">black-metal</label>
          <input class="gnre" type="checkbox" id="classical" name="classical" />
          <label class="gnre" for="classical">classical</label>
          <input class="gnre" type="checkbox" id="death-metal" name="death-metal" />
          <label class="gnre" for="death-metal">death-metal</label>
          <br />
          <input class="gnre" type="checkbox" id="goth" name="goth" />
          <label class="gnre" for="goth">goth</label>
          <input class="gnre" type="checkbox" id="hip-hop" name="hip-hop" />
          <label class="gnre" for="hip-hop">hip-hop</label>
          <input class="gnre" type="checkbox" id="psych-rock" name="psych-rock" />
          <label class="gnre" for="psych-rock">psych-rock</label>
          <input class="gnre" type="checkbox" id="rock" name="rock" />
          <label class="gnre" for="rock">rock</label>
        </div>
        <div class="emGen" id="HappyG">
          <input class="gnre" type="checkbox" id="dance" name="dance" />
          <label class="gnre" for="dance">dance</label>
          <input class="gnre" type="checkbox" id="happy" name="happy" />
          <label class="gnre" for="happy">happy</label>
          <input class="gnre" type="checkbox" id="party" name="party" />
          <label class="gnre" for="party">party</label>
          <input class="gnre" type="checkbox" id="pop" name="pop" />
          <label class="gnre" for="pop">pop</label>
          <input class="gnre" type="checkbox" id="rock" name="rock" />
          <label class="gnre" for="rock">rock</label>
          <input class="gnre" type="checkbox" id="rock-n-roll" name="rock-n-roll" />
          <label class="gnre" for="rock-n-roll">rock-n-roll</label>
        </div>
        <div class="emGen" id="NeutralG">
          <input class="gnre" type="checkbox" id="acoustic" name="acoustic" />
          <label class="gnre" for="acoustic">acoustic</label>
          <input class="gnre" type="checkbox" id="alternative" name="alternative" />
          <label class="gnre" for="alternative">alternative</label>
          <input class="gnre" type="checkbox" id="chill" name="chill" />
          <label class="gnre" for="chill">chill</label>
          <input class="gnre" type="checkbox" id="classical" name="classical" />
          <label class="gnre" for="classical">classical</label>
          <br />
          <input class="gnre" type="checkbox" id="indie" name="indie" />
          <label class="gnre" for="indie">indie</label>
          <input class="gnre" type="checkbox" id="piano" name="piano" />
          <label class="gnre" for="piano">piano</label>
          <input class="gnre" type="checkbox" id="study" name="study" />
          <label class="gnre" for="study">study</label>
        </div>
        <div class="emGen" id="SadG">
          <input class="gnre" type="checkbox" id="emo" name="emo" />
          <label class="gnre" for="emo">emo</label>
          <input class="gnre" type="checkbox" id="piano" name="piano" />
          <label class="gnre" for="piano">piano</label>
          <input class="gnre" type="checkbox" id="pop" name="pop" />
          <label class="gnre" for="pop">pop</label>
          <input class="gnre" type="checkbox" id="rainy-day" name="rainy-day" />
          <label class="gnre" for="rainy-day">rainy-day</label>
          <input class="gnre" type="checkbox" id="sad" name="sad" />
          <label class="gnre" for="sad">sad</label>
        </div>
        <div class="emGen" id="SurpriseG">
          <input class="gnre" type="checkbox" id="alternative" name="alternative" />
          <label class="gnre" for="alternative">alternative</label>
          <input class="gnre" type="checkbox" id="indie" name="indie" />
          <label class="gnre" for="indie">indie</label>
          <input class="gnre" type="checkbox" id="rock" name="rock" />
          <label class="gnre" for="rock">rock</label>
        </div>
      </div>
      <p id="send-tst" style="width: 200px; cursor: pointer; border: outset">
        Get recommended songs
      </p>
      <p>Here are your recommended songs:</p>
      <div id="url"></div>
    </div>
  </body>
</html>
