h1 {
  justify-content: center;
  display: grid;
  width: 80%;
  margin-left: 10vw;
}

.container {
  display: grid;
  grid-template-columns: 150px 720px;
  justify-content: center;
  grid-gap: 20px;
}

.steps {
  text-align: center;
}
.inst {
  font-weight: 600;
  font-size: large;
  margin: 0;
}
.st {
  font-size: large;
  font-weight: 400;
  text-align: left;
  display: inline-block;
  margin: 0;
}

.loads {
  text-align: -webkit-right;
}

.box {
  display: grid;
  justify-content: center;
  margin-bottom: 120px;
}

.vidLoad {
  width: 10px;
  height: 10px;
  background-color: red;
}

.emLoad {
  width: 10px;
  height: 10px;
  background-color: red;
}

.spLoad {
  width: 10px;
  height: 10px;
  background-color: red;
}

.buts {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  grid-gap: 50px;
}

#exp {
  text-align: center;
  font-size: x-large;
}
